@import 'vars';
@import 'mixins';

.biography {
  @include flex-row(125px, center, center);
  max-width: $max-width-biography;
  max-height: $max-height-biography;
  margin: auto;
  margin-top: $spacing-xxl;
  position: relative;
}

.biography img {
  width: 100%;
  height: auto;
}

.biography__img {
  max-width: $biography-img-width;
  max-height: $max-height-biography;
  order: 1;
}

.biography__text {
  @include flex-column(25px);
  max-height: $max-height-biography;
  line-height: $line-height-1-2;
  order: 3;
}

.biography__text--alt,
.biography__list--alt {
  @include hidden;
}

.biography-blockquote {
  width: $biography-blockquote-width;
}

.biography__signature {
  position: absolute; 
  top: 1%;
  right: 46%;    
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  order: 2;
}

.biography__title {
  width: 350px;
}

.biography__text h2 {
  order: 1;
  max-width: 250px;
}

.biography__text--main::after {
  content: "";
  position: absolute;
  top: 75px;
  left: 0;
  background-color: $color-black;
  width: $line-width;
  height: $line-height;
}

.biography__text--main {
  order: 2;
  margin-top: 15px;
  position: relative;
}

.biography__text .line {
  order: 3;
}

.biography__blockquote {
  margin-top: 32px;
  order: 4;
  max-width: 370px
}

.alt {
  @include hidden;
}
