@import 'vars';

.designers {
  padding-top: $padding-top-section;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $margin-top-large auto 0;
  max-height: $max-height-designers;
  width: 100%;
}

.designers__signature {
  position: absolute;
  margin-right: $margin-right-signature;
  margin-top: $margin-top-signature;
}

.designers__slider {
  display: flex;
  gap: $slider-gap;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: flex-end;
}

.main {
  align-items: flex-end;
}

.designers__card-description {
  width: $card-description-width;
}

.designers__card {
  display: flex;
  flex-direction: column;
  gap: $card-gap;
}

.designers__card-text {
  display: inline;
  margin: 0;
}

@media screen and (max-width: $breakpoint-large) {
  .designers__slider {
    width: 100%;
    overflow-x: auto;
  }
}
