@import 'vars';
@import 'mixins';

.designers {
  @include flex-column($gap: null, $align: center);
  @include block-margin(auto, 190px);
  padding-top: $spacing-sm;
  max-height: $max-height-designers;
  width: 100%;
}

.designers__signature {
  position: absolute;
  margin-right: $margin-right-signature;
  margin-top: $margin-top-signature;
}

.designers__slider {
  @include flex-row($gap: $spacing-sm, $align: flex-end);
  overflow-x: hidden;
  overflow-y: hidden;
  margin-left: 45px;
}

.main {
  align-items: flex-end;
}

.designers__card-description {
  width: $card-description-width;
  line-height: 18px;
}

.designers__card-description__main {
  width: $card-description-width;
  margin-left: 235px;
  line-height: 18px;
}

.designers__card {
  @include flex-column($gap: 23px);
}

.designers__card-text {
  display: inline;
  margin: 0;
  letter-spacing: -0.6px;
}

@media screen and (max-width: $breakpoint-large) {
  .designers__slider {
    width: 100%;
    overflow-x: auto;
  }
}
