@import 'vars';
@import 'mixins';

.designers {
  @include flex-column($gap: null, $align: center);
  @include block-margin(auto, 190px);
  padding-top: $spacing-sm;
  width: 100%;
}

.designers__signature {
  position: absolute;
  left: 50%;
  transform: translate(calc(-50% - 36vw), calc(-50% - 5vh));
}

.designers__slider {
  @include flex-row($gap: $spacing-sm, $align: flex-end);
  overflow-x: hidden;
  overflow-y: hidden;
  margin-left: 2%;
  width: 98%;
  justify-content: center;
}

.main {
  align-items: flex-end;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.designers__card-description {
  width: $card-description-width;
  line-height: 18px;
}

.designers__card-description--main {
  width: $card-description-width;
  margin-left: 235px;
  line-height: 18px;
}

.designers__card {
  @include flex-column($gap: 23px);
}

.designers__card-text {
  display: inline;
  margin: 0;
  letter-spacing: -0.6px;
}

@media screen and (max-width: $breakpoint-large) {
  .designers__slider {
    overflow-x: auto;
  }
}

@media (max-width: 1500px) { 
  .designers__slider {
    justify-content: flex-start;
  }
}


@media (min-width: 1500px) { 
  .designers__signature {
    transform: translate(calc(-50% - 385px), calc(-50% - 6vh));
  }
}

