@import 'vars';
@import 'mixins';

.footer {
  @include block-margin(auto, $spacing-xxl);
  background-color: $color-black;
  color: $color-white;
}

.footer__text {
  @include flex-row($align: center, $justify: space-between);
  margin: 0 $spacing-sm;
  height: $footer-height;
}

.footer__contact {
  @include flex-column($gap: $spacing-xs);
  text-transform: uppercase;
}

.link {
  color: $color-white;
}
