@import 'vars';
@import 'mixins';

.footer {
  @include block-margin(auto, 135px);
  background-color: $color-black;
  color: $color-white;
}

.footer__text {
  @include flex-row($align: center, $justify: space-between);
  margin: 0 $spacing-sm;
  height: $footer-height;
}

.footer__contact {
  @include flex-column($gap: $spacing-xs);
  text-transform: uppercase;
}

.link {
  color: $color-white;
}

.footer__product{
  margin-left: 120px;
}

.footer__product h5 {
  font-size: 24px;
}

.footer__product h6 {
  font-size: 18px;
}

.footer__product h6,
.footer__product h5 {
  display: inline-block;
  margin: 0; 
}
