@import 'vars';

.footer {
  margin: $spacing-xxl auto 0;
  background-color: $color-black;
  color: $color-white;
}

.footer__text {
  margin: 0 $spacing-sm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $footer-height;
}

.footer__contact {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.link {
  color: $color-white;
}
