@import 'vars';
@import 'mixins';

.header {
  @include flex-row($align: center, $justify: space-between);
  width: 100%;
  height: $header-height;
  padding: 0 $spacing-sm;
  box-sizing: border-box;
}

.icon {
  cursor: pointer;
}

.navigation {
  @include flex-row($gap: $nav-gap, $align: center);
  width: auto;
}

.navigation__list {
  @include flex-row($gap: $nav-list-gap, $align: center);
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__link {
  font-family: $font-roboto;
  font-weight: $font-weight-500;
  font-size: $font-size-24;
  color: $color-black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    &::after {
      transform: scaleX(2);
      transform-origin: left;
    }
  }
}

