@import 'vars';
@import 'mixins';

.hero {
    @include flex-row(null, center, center);
    background-image: $hero-bg-image;
    background-size: $hero-bg-size;
    width: 100%;
    min-height: $hero-min-height;
    background-position: bottom;
}

.hero__content {
    @include flex-column($hero-content-gap, center, center);
    min-height: $hero-content-min-height;
    min-width: $hero-content-min-width;
    background-color: $color-white;
}
