@mixin block-margin($left: 0, $top: null) {
    margin-left: $left;

    @if $top !=null {
        margin-top: $top;
    }
}

@mixin flex-column($gap: null, $align: null, $justify: null) {
    display: flex;
    flex-direction: column;

    @if $gap !=null {
        gap: $gap;
    }

    @if $align !=null {
        align-items: $align;
    }

    @if $justify !=null {
        justify-content: $justify;
    }
}

@mixin flex-row($gap: null, $align: null, $justify: null) {
    display: flex;
    flex-direction: row;

    @if $gap !=null {
        gap: $gap;
    }

    @if $align !=null {
        align-items: $align;
    }

    @if $justify !=null {
        justify-content: $justify;
    }
}

@mixin reset-positioning {
    position: inherit;
    transform: none;
}

@mixin hidden {
    display: none;
}