@import 'vars';
@import 'mixins';

@media (max-width: 605px) {
    h3 {
        line-height: 1.1;
    }

    .navigation {
        gap: 0;
    }

    .navigation__item {
        margin-right: 10vw;
    }

    .hero__content {
        min-width: 0;
    }

    .biography {
        @include block-margin(0, 81px);
    }

    .biography__signature {
        top: -3%;
    }

    .biography__title {
        width: auto;
    }

    .biography__text {
        gap: none;
    }

    .biography__text--alt {
        line-height: 0.9;
    }

    .biography__blockquote-container {
        width: 100%;
    }

    .biography__blockquote {
        margin-top: 0px;
        display: flex;
        line-height: 1.2;
        max-width: none;
    }

    .biography__text h2 {
        margin-top: 0;
        line-height: 0.7;
    }

    .biography__title h5 {
        margin-top: 54px;
    }

    .biography__img {
        margin-top: 20px;
    }

    .designers {
        margin: 125px 0 0;
    }

    .designers__signature {
        transform: translate(calc(-50% - 36.5vw), calc(-50% - 4vh));
    }

    .testimonials {
        margin: 165px 20px 0;
    }

    .testimonials__cta {
        flex-direction: column;
        gap: $spacing-gap-testimonials-cta;
    }

    .testimonials__signature {
        transform: translate(calc(50% - 13.5vw), calc(-50% + -20vw));
    }

    .testimonials__cta-image {
        width: 100%;
    }

    .testimonials__caption {
        flex-wrap: wrap;
        gap: 30px;
    }

    .testimonials__caption--vertical-text {
        margin-right: 55px;
    }

    .strengths {
        margin-left: 0px;
    }

    .strengths__signature {
        transform: translate(calc(-50% - 35vw), calc(-50% - 23vh));
    }

    .strengths__content-list {
        line-height: 1.2;
    }

    .strengths__content-card-text {
        gap: $spacing-gap-testimonials-cta;
    }

    .footer__product {
        margin-left: 55%;
    }

    .footer__text {
        @include flex-column($gap: $spacing-gap-footer-small);
    }
}

@media (max-width: 396px) {
    
    .navigation__item {
        margin-right: 7vw;
    }

    .hero__content h1 {
        font-size: 42px;
    }

    h5 {
        font-size: 60px;
    }

    .biography__text h5 {
        font-size: 56px;
    }

    .biography__blockquote {
        font-size: 24px;
    }

    .biography__signature {
        top: -5%
    }

    .designers__signature {
        transform: translate(calc(-50% - 33.5vw), calc(-50% - 4vh));
    }

    .testimonials__signature {
        transform: translate(calc(50% - 20.5vw), calc(-50% - 28vw));
    }

    .strengths__signature {
        transform: translate(calc(-50% - 29vw), calc(-50% - 23vh));
    }

    .navigation__list {
        width: 110%;
    }

}