@import 'vars';
@import 'mixins';

@media (max-width: 585px) {
    h3 {
        line-height: 1.1;
    }

    .navigation {
        gap: 0;
    }

    .navigation__item {
        margin-right: 10vw;
    }

    .hero {
        max-height: 657px;
        height: 657px;
    }

    .hero__content {
        min-width: 0;
    }

    .biography {
        @include block-margin(0, 130px);
    }

    .biography__signature {
        top: -10.5%;
    }

    .biography__text {
        gap: $spacing-gap-biography-text;
    }

    .biography__text--alt {
        line-height: 0.9;
    }

    .biography__blockquote {
        width: 85%;
        line-height: 1.4;
    }

    .biography__text h2 {
        margin-top: 0;
        line-height: 0.7;
    }

    .biography__img {
        margin-top: 20px;
    }

    .designers {
        margin: 150px 0 0;
        padding-left: $spacing-sm;
    }

    .designers__signature {
        transform: translate(calc(-50% - 31.5vw), calc(-50% - 3.5vh));
    }

    .testimonials {
        @include block-margin(20);
    }

    .testimonials__cta {
        flex-direction: column;
        gap: $spacing-gap-testimonials-cta;
    }

    .testimonials__signature {
        transform: (calc(-50% - 29.5vw), calc(-50% - 19.5vh));
    }

    .testimonials__cta-image {
        width: 91%;
    }

    .testimonials__caption {
        flex-wrap: wrap;
        margin-left: $spacing-sm;
        gap: 30px;
    }

    .strengths {
        margin-left: $spacing-sm;
    }

    .strengths__signature {
        transform: translate(calc(-50% - 31.5vw), calc(-50% - 20.5vh));
    }

    .strengths__content-list {
        line-height: 1.2;
    }

    .strengths__content-card-text {
        gap: $spacing-gap-testimonials-cta;
    }

    .footer__product {
        margin-left: 62%;
    }

    .footer__text {
        @include flex-column($gap: $spacing-gap-footer-small);
    }
}

@media (max-width: 385px) {
    
    h5 {
        font-size: 60px;
    }

    .biography__text h5 {
        font-size: 56px;
    }

    .biography__blockquote {
        font-size: 24px;
    }

    .biography__signature {
        top: -5%
    }

    .navigation__list {
        width: 110%;
    }



}