.modal {
    display: none;
  }
  
.modal.show {
    position: fixed;
    background: rgba(0, 0, 0, 0.103);
    inset: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
  

.modal_form {
    background-color: rgb(255, 255, 255);
    width: 480px;
    padding: 30px;
}