@import 'vars';

body {
    font-family: $font-roboto;
    font-weight: $font-weight-700;
    font-size: $font-size-16;
    margin: 0;
    justify-content: center;
}

.logo__text {
    font-family: $font-playfair;
    font-weight: $font-weight-600;
    font-size: $font-size-86;
    text-transform: none;
}

h1 {
    font-family: $font-playfair;
    font-weight: $font-weight-500;
    font-size: $font-size-86;
    line-height: $line-height-1-3;
}

h2 {
    font-family: $font-roboto;
    font-weight: $font-weight-500;
    font-size: $font-size-20;
}

h3 {
    font-weight: $font-weight-400;
    font-size: $font-size-32;
    line-height: $line-height-1-18;
}

h4 {
    font-family: $font-roboto;
    font-weight: $font-weight-700;
    font-size: $font-size-24;
}

h5 {
    font-family: $font-playfair;
    font-weight: $font-weight-500;
    font-size: $font-size-86;
    line-height: $line-height-1-3;
}

h6 {
    font-family: $font-roboto;
    font-weight: $font-weight-500;
    font-size: $font-size-18;
}

p {
    font-family: $font-roboto;
    font-weight: $font-weight-500;
    font-size: $font-size-16;
    letter-spacing: $letter-spacing-1-3;
}

span {
    font-family: $font-roboto;
    font-weight: $font-weight-900;
    font-size: $font-size-16;
    letter-spacing: $letter-spacing-1-3;
    text-transform: uppercase;
}

a {
    font-family: $font-roboto;
    font-weight: $font-weight-400;
    font-size: $font-size-16;
    text-decoration: none;
    color: $color-black;
}

li {
    font-family: $font-bitter;
    font-weight: $font-weight-400;
    font-size: $font-size-34;
}

blockquote {
    font-family: $font-bitter;
    font-weight: $font-weight-400;
    font-size: $font-size-26;
}