.strengths {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px auto 0;
  max-width: 100%;
  overflow-x: hidden; 
}

.strengths__content {
  display: flex;
  justify-content: center;
  max-height: 613px;
  width: 100%; 
  overflow-x: auto;
  gap: 20px;
}

.strengths__content-card {
  height: 555px;
  width: 335px;
  flex-shrink: 0;
  overflow: hidden;
}

.strengths__content-card-image{
  width: 100%;
  height: 100%;
}

.strengths__content-card-text {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 0 50px;
}

.strengths__content-card-text h2 {
  line-height: 1;
}

.strengths__content-list{
  text-align: left;
}

.strengths__item {
  margin-bottom: 8px;
}

.strengths__signature {
  position: absolute;
  margin-right: 1050px;
  margin-top: -50px;
}
