@import 'vars';
@import 'mixins';

.strengths {
  @include flex-column(null, center);
  padding-top: $spacing-sm;
  margin: 180px auto 0;
  max-width: 100%;
  position: relative;
}

.strengths__content {
  @include flex-row(0px, null);
  justify-content: center;
  width: 98%;
  overflow-x: auto;
  margin-left: 2%;
}

.strengths__content-card {
  height: $strengths-card-height;
  width: 360px;
  flex-shrink: 0;
  overflow: hidden;
}

.strengths__content-card-text {
  @include flex-column(30px, center);
  padding: 0 20px;
}

.strengths__content-card-text h2 {
  line-height: 1;
}

.strengths__content-list {
  text-align: left;
}

.strengths__item {
  margin-bottom: $strengths-item-margin-bottom;
}


.strengths__signature {
  position: absolute;
  left: 50%;
  top: 210px;
  transform: translate(calc(-50% - 35vw), calc(-50% - 26vh))
}


@media (max-width: 1500px) { 
  .strengths__content {
    justify-content: flex-start;
  }
}

@media (min-width: 1500px) { 
  .strengths__signature {
    transform: translate(calc(-50% - 385px), calc(-50% - 24vh));
  }
}