@import 'vars';
@import 'mixins';

.strengths {
  @include flex-column(null, center);
  padding-top: $spacing-sm;
  margin: $spacing-xxl auto 0;
  max-width: 100%;
  overflow-x: hidden;
}

.strengths__content {
  @include flex-row($spacing-sm, null, center);
  max-height: $strengths-max-height;
  width: 100%;
  overflow-x: auto;
}

.strengths__content-card {
  height: $strengths-card-height;
  width: $strengths-card-width;
  flex-shrink: 0;
  overflow: hidden;
}

.strengths__content-card-text {
  @include flex-column($spacing-md, center);
  width: $strengths-card-text-width;
  padding: 0 $spacing-lg;
}

.strengths__content-card-text h2 {
  line-height: 1;
}

.strengths__content-list {
  text-align: left;
}

.strengths__item {
  margin-bottom: $strengths-item-margin-bottom;
}

.strengths__signature {
  position: absolute;
  @include block-margin($margin-right-signature, $margin-top-signature);
}
