@import 'vars';
@import 'mixins';

@media (max-width: 960px) {
    .header {
        justify-content: center;
    }

    .navigation__item {
        margin-left: 18px;
        position: relative;
        display: inline-block;
        width: 1ch;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 12vw;
        font-size: 40px;
    }

    .logo {
        @include hidden;
    }

    .navigation {
        gap: 3vw;
    }

    .navigation__list {
        display: block;
        width: 90%;
    }

    .navigation__link {
        font-family: $font-bitter;
        font-size: 40px;
        letter-spacing: 10px;
    }

    .navigation__link--color {
        color: #A07C72;
    }

}

@media (max-width: 800px) {
    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 18px;
    }

    h4 {
        font-size: $font-size-h4-mobile;
    }
    
    h5 {
        font-size: $font-size-h5-mobile;
    }

    .navigation__item {
        margin-right: 14.8vw;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 0;
        vertical-align: middle;
    }

    .hero {
        max-width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        margin-top: 1px;
        align-items: start;
        background-size: auto 110%;
        min-height: 656px;
    }

    .hero__content {
        gap: 15px;
        min-height: 270px;
        width: 100%;
        justify-content: flex-start;
    }

    .hero__content h1 {
        letter-spacing: -0.7px;
        margin-top: 50px;
    }

    .biography {
        margin-top: 83px;
        gap: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .biography__img {
        width: 100%;
        margin-top: 36px;
        max-width: none;
        height: 400px;
        order: 2;
    }

    .biography img {
        height: 100%;
    }

    .biography__text,
    .biography__text--alt {
        order: 1;
        margin-left: 10px;
        gap: inherit;
    }

    .biography__text--alt {
        display: block;
        font-style: normal;
        padding: 0;
        margin: 0;
    }

    .biography__author::before {
        content: '-';
        color: #000;
        font-weight: normal;
    }

    .biography__title {
        order: 4;
    }

    .biography__text h5 {
        font-size: $font-size-h5-biography-mobile;
        margin-top: 125px;
        order: 3;
        max-width: max-content;
    }

    .biography__signature {
        top: -6%;
        right: -0.5%;
        margin: 7% 4%;
        writing-mode: horizontal-tb;
        transform: none;
    }

    .biography__text .line {
        @include hidden;
    }

    .biography__blockquote-container {
        margin-top: 21px;
        display: flex;
        width: 540px;
        order: 3;
    }

    .biography__list--alt {
        display: block;
        order: 2;
    }

    .biography__blockquote {
        display: contents;
        margin-top: 30px;
        font-size: $font-size-blockquote-mobile;
        line-height: 35px;
        white-space: pre-line;
    }

    .biography__text--main {
        @include hidden;
    }

    .biography__list {
        padding-left: 0;
        margin-top: 0.5em;
        list-style: none;
        @include flex-column();
        line-height: 18px;
    }

    .biography__item {
        display: block;
        position: relative;
        font-weight: 500;
        font-size: 18px;
        font-family: $font-roboto;
    }

    .alt li::before {
        content: "-";
        position: absolute;
        left: 0;
    }

    .designers {
        margin-left: 0px;
        width: calc(100% - #{$spacing-sm});
        margin-top: 112px;
    }

    .designers__card {
        width: $width-designers-img-mobile;
        min-height: 520px;
        gap: 25px;
    }

    .designers__card img {
        width: $width-designers-img-mobile;
        height: 440px;
    }

    .designers__card--main {
        align-items: flex-start;
    }

    .designers__card-description {
        line-height: 1.2;
        width: auto;
    }

    .designers__signature {
        transform: translate(calc(-50% - 41.5vw), calc(-50% - 4.2vh));
    }

    .designers__card-description--main {
        margin-left: 0px;
    }

    .testimonials {
        @include flex-column($spacing-gap-testimonials);
        margin: $spacing-margin-top-testimonials $spacing-sm 0;
    }

    .testimonials__cta {
        flex-direction: row;
        margin: 0;
    }

    .testimonials__cta-image {
        width: 336px;
        height: 330px;
    }

    .testimonials__image-with-captions {
        order: 3;
    }

    .testimonials__image {
        @include hidden;
    }

    .testimonials__signature {
        writing-mode: inherit;
        transform: none;
        margin: 0 1% 0 auto;
    }

    .testimonials__cta-blockquote {
        max-width: 338px;
        margin-top: -98px;
        font-size: $font-size-blockquote-mobile;
    }

    .testimonials__caption {
        flex-direction: row;
        gap: $spacing-testimonials-caption-gap;
        margin-left: 0px;
        gap: 16vw;
    }

    .testimonials__caption--vertical-text {
        writing-mode: horizontal-tb;
        transform: none;
    }

    .strengths {
        margin-top: 102px;
        margin-left: 0px;
    }

    .strengths__signature {
        transform: translate(calc(-50% - 40vw), calc(-50% - 24vh));
    }

    .strengths__content {
        justify-content: flex-start;
        gap: 20px;
    }

    .strengths__content-card {
        height: $height-strengths-card-mobile;
        width: $width-strengths-card-mobile;
    }

    .strengths__content-card-text {
        width: 201px;
        order: -1;
        padding: 0;
        gap: 17px;
    }

    .strengths__content-card-text h5 {
        font-size: $font-size-strengths-title;
    }

    .strengths__item {
        font-size: $font-size-strengths-item;
    }

    .strengths__content-list {
        line-height: 29px;
    }

    .footer {
        margin: $spacing-margin-top-testimonials auto 0;
    }

    .footer__text {
        padding-top: $spacing-md; 
        @include flex-column($spacing-gap-footer, start, start);
    }

    .footer__product {
        margin-left: 75%;
        order: -1;
    }
}


@media (max-width: 770px) {
    a {
        font-size: 12px;
    }

    .navigation__item {
        margin-right: 14vw;
    }
}

@media (max-width: 730px) {
    .navigation__item {
        margin-left: 5px;
    }
}