@import 'vars';
@import 'mixins';

.testimonials__image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.testimonials__image-with-captions {
  @include flex-row($align: center, $gap: $testimonials-gap);
  grid-row: span 2;
}

.testimonials__caption {
  @include flex-column($align: center, $gap: $spacing-xl);
  margin-left: $testimonials-caption-margin-left;
}

.testimonials__caption--vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.testimonials__signature {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: relative;
  left: $testimonials-signature-left;
}

.testimonials {
  display: grid;
  max-width: $max-width-biography;
  margin:135px auto;
  grid-template-columns: $testimonials-grid-template;
}

.testimonials__cta {
  @include flex-column($align: center, $gap: $testimonials-cta-gap);
  grid-column: 3;
  grid-row: 1 / 3;
  text-align: center;
  margin-top: $testimonials-cta-margin-top;
}

.testimonials__cta-blockquote {
  max-width: $testimonials-cta-blockquote-max-width;
}