@import 'vars';

.testimonials__image-with-captions {
  display: flex;
  grid-row: span 2;
  align-items: center;
  gap: $testimonials-gap;
}

.testimonials__caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-xl;
  margin-left: $testimonials-caption-margin-left;
}

.testimonials__caption--vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.testimonials__signature {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  left: $testimonials-signature-left;
  position: relative;
}

.testimonials {
  display: grid;
  max-width: $max-width-biography;
  margin: $spacing-xxl auto 0;
  grid-template-columns: $testimonials-grid-template;
}

.testimonials__cta {
  grid-column: 3;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: $testimonials-cta-margin-top;
  gap: $testimonials-cta-gap;
}

.testimonials__cta-blockquote {
  max-width: $testimonials-cta-blockquote-max-width;
}
