// === Fonts ===
$font-roboto: 'Roboto', serif;
$font-playfair: 'Playfair Display', sans-serif;
$font-bitter: 'Bitter', sans-serif;

// === Font Sizes ===
$font-size-86: 86px;
$font-size-34: 34px;
$font-size-32: 32px;
$font-size-26: 26px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;

// === Font Weights ===
$font-weight-900: 900;
$font-weight-700: 700;
$font-weight-600: 600;
$font-weight-500: 500;
$font-weight-400: 400;
$font-weight-100: 100;

// === Line Heights ===
$line-height-1-3: 1.3;
$line-height-1-2: 1.2;
$line-height-1-18: 1.18;

// === Letter Spacing ===
$letter-spacing-1-3: 1.3;

// === Colors ===
$text-color-black: black;
$color-line: black;

// === Layout / Sizes ===
$max-width-biography: 1165px;
$max-height-biography: 840px;
$line-width: 20px;
$line-height: 6px;
$line-top-offset: 11px;

$signature-top-offset: -360px;
$signature-right-offset: 20px;

// === Header Section ===
$header-height: 135px;
$header-padding-x: 20px;

$nav-gap: 15px;
$nav-list-gap: 55px;

$font-size-nav-link: $font-size-24;
$icon-size: 50px;

// === Hero Section ===
$hero-bg-image: url(../img/background.jpg);
$hero-bg-size: auto 230%;
$hero-aspect-ratio: 21 / 9;
$hero-min-height: 630px;

$hero-content-min-height: 360px;
$hero-content-min-width: 690px;
$hero-content-gap: 18px;

$color-white: white;

// === Biography Section ===

$biography-gap: 50px;
$biography-margin-top: 150px;

$biography-img-width: 571px;
$biography-blockquote-width: 370px;

// === Designers Section ===
$padding-top-section: 40px;
$margin-top-large: 150px;
$max-height-designers: 677px;
$margin-right-signature: 1050px;
$margin-top-signature: -50px;

$slider-gap: 20px;
$card-gap: 35px;

$card-description-width: 337px;

// === Testimonials Section ===
$testimonials-grid-template: 50% 1fr 45%;
$testimonials-caption-gap: 95px;
$testimonials-caption-margin-left: 65px;
$testimonials-gap: 25px;
$testimonials-signature-left: 25px;

$testimonials-cta-gap: 41px;
$testimonials-cta-margin-top: 41px;
$testimonials-cta-blockquote-max-width: 216px;








// === Media Query Breakpoints ===
$breakpoint-large: 1660px;
