// === Fonts ===
$font-roboto: 'Roboto', serif;
$font-playfair: 'Playfair Display', sans-serif;
$font-bitter: 'Bitter', sans-serif;

// === Font Sizes ===
$font-size-86: 86px;
$font-size-34: 34px;
$font-size-32: 32px;
$font-size-26: 26px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;

// === Font Weights ===
$font-weight-900: 900;
$font-weight-700: 700;
$font-weight-600: 600;
$font-weight-500: 500;
$font-weight-400: 400;
$font-weight-100: 100;

// === Line Heights ===
$line-height-1-3: 1.3;
$line-height-1-18: 1.18;

// === Letter Spacing ===
$letter-spacing-1-3: 1.3;

// === Colors ===
$text-color-black: black;
