.biography {
    max-height: 840px;
    margin-top: 150px;
    gap: 50px;
}

.biography-img {
    max-width: 571px;
    max-height: 840px;
}

.biography-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-height: 840px;
    line-height: 1.2;
}

.biography-blockquote {
    width: 370px;
}

.biography-signature {
    position: relative;
    top: -360px;
    right: 20px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.line {
    position: relative;
    top: 11px;
    background-color: black;
    width: 20px;
    height: 6px;
}