.biography {
    max-height: 840px;
    margin-top: 150px;
    gap: 50px;
}

.biography-img {
    max-width: 571px;
    max-height: 840px;
    order: 1;
}

.biography-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-height: 840px;
    line-height: 1.2;
    order: 3;
}

.biography-text .biography-blockquote .alt{
    display: none;
}


.biography-blockquote {
    width: 370px;
}

.biography-signature {
    position: relative;
    top: -360px;
    right: 20px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    order: 2;
}

.line {
    position: relative;
    top: 11px;
    background-color: black;
    width: 20px;
    height: 6px;
}

.biography-text h2 {
  order: 1;
}

.biography-text h6 {
  order: 2;
}

.biography-text .line {
  order: 3;
}

.biography-text blockquote {
  order: 4;
}

.alt {
    display: none;
}
  