.designers {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px auto 0;
  max-height: 677px;
  width: 100%;
}

.designers-signature {
  position: absolute;
  margin-right: 1050px;
  margin-top: -50px;
}

.slider {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: flex-end;
}

.main {
  align-items: flex-end;
}

.main .description {
  width: 337px;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

@media screen and (max-width: 1620px) {
  .slider {
    width: 100%;
    margin-left: 40px;
    overflow-x: auto;
  }
}