.designers {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  margin: 150px auto 0; 
  max-width: 1420px;
  max-height: 677px;
  overflow: hidden;
}

.slider {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main .description {
  width: 332px;
}

.description {
  margin-top: 24px;
}

.designers-signature {
  position: relative;
  left: 150px;
  top: -30px;
}