.hero {
    display: flex;
    background-image: url(../img/background.jpg);
    background-size: auto 230%;
    width: 100%;
    aspect-ratio: 21 / 9;
    min-height: 630px;
    align-items: center;
    justify-content: center;
    background-position: bottom;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 360px;
    min-width: 690px;
    gap: 18px;
    background-color: white;
}