/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    line-height: 1;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

p {
    margin: 0;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}