.strong-points {
  height: 677px;
  position: relative;
  padding: 60px 0;
}


.strengths-grid {
  display: flex;
  gap: 30px;
  padding-left: 120px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.strengths-card {
  scroll-snap-align: start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 555px;
  width: 335px;
}
