.strong-points {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px auto 0;
}

.strengths-content {
  display: flex;
  justify-content: center;
  max-height: 613px;
  width: 100%;
  overflow: hidden;
  gap: 20px;
}

.strengths-card {
  height: 555px;
  width: 335px;
  overflow: hidden;
}

.strengths-signature {
  position: absolute;
  margin-right: 1050px;
  margin-top: -50px;
}

.strengths-text {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.strengths-ul {
  text-align: left;
}