@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Playfair+Display:wght@400..900&family=Roboto:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  line-height: 1;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Bitter";
  src: url("../fonts/Bitter-Regular.eot");
  src: url("../fonts/Bitter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Bitter-Regular.woff") format("woff"), url("../fonts/Bitter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.modal {
  display: none;
}

.modal.show {
  position: fixed;
  background: rgba(0, 0, 0, 0.103);
  inset: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_form {
  background-color: rgb(255, 255, 255);
  width: 480px;
  padding: 30px;
}

body {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  justify-content: center;
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  font-size: 86px;
}

h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
  font-size: 86px;
  line-height: 1.3;
}

h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.18;
}

h4 {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 24px;
}

h5 {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 20px;
}

h6 {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 18px;
}

p {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.3;
}

span {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 1.3;
  text-transform: uppercase;
}

a {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

li {
  font-family: "Bitter", sans-serif;
  font-weight: 400;
  font-size: 34px;
}

blockquote {
  font-family: "Bitter", sans-serif;
  font-weight: 400;
  font-size: 26px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 135px;
  padding: 0 20px;
  box-sizing: border-box;
}

.icon {
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  width: auto;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  gap: 55px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__link {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 24px;
  color: black;
  text-decoration: none;
}
.navigation__link:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url(../img/background.jpg);
  background-size: auto 230%;
  width: 100%;
  aspect-ratio: 2.3333333333;
  min-height: 630px;
  background-position: bottom;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: center;
  min-height: 360px;
  min-width: 690px;
  background-color: white;
}

.biography {
  display: flex;
  flex-direction: row;
  gap: 125px;
  align-items: center;
  justify-content: center;
  max-width: 1165px;
  max-height: 840px;
  margin: auto;
  margin-top: 150px;
  position: relative;
}

.biography img {
  width: 100%;
  height: auto;
}

.biography__img {
  max-width: 571px;
  max-height: 840px;
  order: 1;
}

.biography__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-height: 840px;
  line-height: 1.2;
  order: 3;
}

.biography__text--alt,
.biography__blockquote--alt {
  display: none;
}

.biography-blockquote {
  width: 370px;
}

.biography__signature {
  position: absolute;
  top: 1%;
  right: 46%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  order: 2;
}

.line {
  position: relative;
  top: 11px;
  background-color: black;
  width: 20px;
  height: 6px;
}

.biography__text h2 {
  order: 1;
  max-width: 250px;
}

.biography__text--main {
  order: 2;
  margin-top: 20px;
}

.biography__text .line {
  order: 3;
}

.biography__blockquote {
  order: 4;
  max-width: 370px;
}

.alt {
  display: none;
}

.designers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-top: 190px;
  padding-top: 20px;
  max-height: 677px;
  width: 100%;
}

.designers__signature {
  position: absolute;
  left: 50%;
  transform: translate(calc(-50% - 35.5vw), calc(-50% - 3.2vh));
}

.designers__slider {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-end;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-left: 2%;
  width: 98%;
  justify-content: center;
}

.main {
  align-items: flex-end;
}

.designers__card-description {
  width: 337px;
  line-height: 18px;
}

.designers__card-description__main {
  width: 337px;
  margin-left: 235px;
  line-height: 18px;
}

.designers__card {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.designers__card-text {
  display: inline;
  margin: 0;
  letter-spacing: -0.6px;
}

@media screen and (max-width: 1660px) {
  .designers__slider {
    overflow-x: auto;
  }
}
@media (max-width: 1500px) {
  .designers__slider {
    justify-content: flex-start;
  }
}
.testimonials__image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.testimonials__image-with-captions {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  grid-row: span 2;
}

.testimonials__caption {
  display: flex;
  flex-direction: column;
  gap: 95px;
  align-items: center;
  margin-left: 65px;
}

.testimonials__caption--vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.testimonials__signature {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: relative;
  left: 25px;
}

.testimonials {
  display: grid;
  max-width: 1165px;
  margin: 135px auto;
  grid-template-columns: 50% 1fr 45%;
}

.testimonials__cta {
  display: flex;
  flex-direction: column;
  gap: 41px;
  align-items: center;
  grid-column: 3;
  grid-row: 1/3;
  text-align: center;
  margin-top: 41px;
}

.testimonials__cta-blockquote {
  max-width: 216px;
}

.strengths {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  margin: 180px auto 0;
  max-width: 100%;
  position: relative;
}

.strengths__content {
  display: flex;
  flex-direction: row;
  gap: 0px;
  max-height: 613px;
  justify-content: center;
  width: 98%;
  overflow-x: auto;
  margin-left: 2%;
}

.strengths__content-card {
  height: 555px;
  width: 360px;
  flex-shrink: 0;
  overflow: hidden;
}

.strengths__content-card-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 450px;
  padding: 0 20px;
}

.strengths__content-card-text h2 {
  line-height: 1;
}

.strengths__content-list {
  text-align: left;
}

.strengths__item {
  margin-bottom: 8px;
}

.strengths__signature {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% - 27vw), calc(-50% - 25.5vh));
}

@media (max-width: 1500px) {
  .strengths__content {
    justify-content: flex-start;
  }
}
.footer {
  margin-left: auto;
  margin-top: 135px;
  background-color: black;
  color: white;
}

.footer__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  height: 190px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: uppercase;
}

.link {
  color: white;
}

.footer__product {
  margin-left: 120px;
}

.footer__product h5 {
  font-size: 24px;
}

.footer__product h6 {
  font-size: 18px;
}

.footer__product h6,
.footer__product h5 {
  display: inline-block;
  margin: 0;
}

.no_overflow {
  overflow: hidden;
}

.modal_form {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 12px;
  top: 75px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 475px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.modal_form h1 {
  font-family: Arial, sans-serif;
  font-size: 23px;
  color: #000;
  margin-bottom: 15px;
}

.modal_form__text {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.5;
}

.modal_form__input_contanier {
  margin-bottom: 15px;
  position: relative;
}

.modal_form__input_contanier h4 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.modal_form__input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  box-sizing: border-box;
}

.modal_form__input_icon {
  font-size: 24px;
  position: absolute;
  right: 14px;
  top: 29px;
}

.modal_form__textarea {
  padding: 15px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  height: 112px;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

.modal_form__input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 14px;
}

.modal_form__button-container {
  display: flex;
  justify-content: space-between;
}

.modal_form__button-container_button {
  padding: 10px 20px;
  border: solid #B3B3B3 2px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  width: 212px;
  height: 52px;
}

.modal_form__button-container_button:first-child {
  background: #fff;
  color: #000;
}

.modal_form__button-container_button:last-child {
  border: none;
  background: #000;
  color: #fff;
}

.modal_form__input::-moz-placeholder, .modal_form__textarea::-moz-placeholder {
  font-family: "Roboto", serif;
  color: #999;
  font-size: 14px;
  opacity: 1;
}

.modal_form__input::placeholder,
.modal_form__textarea::placeholder {
  font-family: "Roboto", serif;
  color: #999;
  font-size: 14px;
  opacity: 1;
}

@media (max-width: 900px) {
  h2 {
    font-size: 70px;
  }
  h4 {
    font-size: 18px;
  }
  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border: 0;
    vertical-align: middle;
  }
  .header {
    justify-content: center;
  }
  .navigation__item {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 1ch;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 14vw;
    font-size: 40px;
  }
  .logo {
    display: none;
  }
  .navigation {
    gap: 7vw;
  }
  .navigation__list {
    display: block;
    width: 90%;
  }
  .navigation__link {
    font-family: "Bitter", sans-serif;
    font-size: 40px;
    letter-spacing: 10px;
  }
  .navigation__link--color {
    color: #A07C72;
  }
  .hero {
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 1px;
    align-items: start;
    background-size: auto 110%;
  }
  .hero__content {
    min-height: auto;
    height: 270px;
    width: 100%;
    justify-content: flex-start;
  }
  .hero__content h2 {
    margin-top: 50px;
  }
  .biography {
    margin-top: 150px;
    gap: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .biography__img {
    width: 100%;
    max-width: none;
    height: 400px;
    order: 2;
  }
  .biography img {
    height: 100%;
  }
  .biography__text,
  .biography__text--alt {
    order: 1;
    margin-left: 20px;
  }
  .biography__text--alt {
    display: block;
    font-style: normal;
    padding: 0;
    margin: 0;
  }
  .biography__text h2 {
    font-size: 64px;
    margin-top: 90px;
    order: 3;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .biography__signature {
    top: -7.5%;
    right: 4%;
    margin: 0 1% 0 auto;
    writing-mode: horizontal-tb;
    transform: none;
  }
  .biography__text .line {
    display: none;
  }
  .biography__blockquote {
    display: flex;
    width: 540px;
    order: 2;
  }
  .biography__blockquote--main {
    display: none;
  }
  .biography__blockquote--alt {
    display: flex;
    margin-top: 30px;
    font-size: 30px;
    line-height: 35px;
  }
  .biography__text--main {
    display: none;
  }
  .biography__list {
    padding-left: 0;
    margin-top: 0.5em;
    list-style: none;
    display: flex;
    flex-direction: column;
    line-height: 18px;
  }
  .biography__item {
    display: block;
    position: relative;
    padding-left: 1.2em;
    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto", serif;
  }
  .alt li::before {
    content: "-";
    position: absolute;
    left: 0;
  }
  .designers {
    margin-left: 20px;
    width: calc(100% - 20px);
  }
  .designers__card {
    width: 310px;
    height: 520px;
  }
  .designers__card img {
    width: 310px;
    height: 430px;
  }
  .designers__card--main {
    align-items: flex-start;
  }
  .designers__card-description {
    line-height: 1.2;
    width: auto;
  }
  .designers__signature {
    transform: translate(calc(-50% - 37.5vw), calc(-50% - 3.2vh));
  }
  .designers__card-description__main {
    margin-left: 0px;
  }
  .testimonials {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 70px 20px 0;
  }
  .testimonials__cta {
    flex-direction: row;
    margin: 0;
  }
  .testimonials__cta-image {
    width: 336px;
    height: 330px;
  }
  .testimonials__image-with-captions {
    order: 3;
  }
  .testimonials__image {
    display: none;
  }
  .testimonials__signature {
    writing-mode: inherit;
    transform: none;
    margin: 0 4% 0 auto;
  }
  .testimonials__cta-blockquote {
    max-width: 376px;
  }
  .testimonials__cta-blockquote h3 {
    font-size: 30px;
  }
  .testimonials__caption {
    flex-direction: row;
    gap: 50px;
  }
  .testimonials__caption--vertical-text {
    writing-mode: horizontal-tb;
    transform: none;
  }
  .strengths {
    margin-top: 50px;
    margin-left: 20px;
  }
  .strengths__signature {
    transform: translate(calc(-50% - 37.5vw), calc(-50% - 19.5vh));
  }
  .strengths__content {
    justify-content: flex-start;
    gap: 20px;
  }
  .strengths__content-card {
    height: 450px;
    width: 310px;
  }
  .strengths__content-card-text {
    width: 201px;
    order: -1;
    padding: 0;
  }
  .strengths__content-card-text h2 {
    font-size: 46px;
  }
  .strengths__item {
    font-size: 24px;
  }
  .strengths__content-list {
    line-height: 28px;
  }
  .footer {
    margin: 70px auto 0;
  }
  .footer__text {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: start;
  }
  .footer__product {
    margin-left: 75%;
    order: -1;
  }
}
@media (max-width: 675px) {
  a {
    font-size: 12px;
  }
}
@media (max-width: 585px) {
  h3 {
    line-height: 1.1;
  }
  .navigation {
    gap: 0;
  }
  .navigation__item {
    margin-right: 10vw;
  }
  .hero {
    max-height: 657px;
    height: 657px;
  }
  .hero__content {
    min-width: 0;
  }
  .biography {
    margin-left: 0;
    margin-top: 130px;
  }
  .biography__signature {
    top: -10.5%;
  }
  .biography__text {
    gap: 65px;
  }
  .biography__text--alt {
    line-height: 0.9;
  }
  .biography__blockquote {
    width: 85%;
    line-height: 1.4;
  }
  .biography__text h2 {
    margin-top: 0;
    line-height: 0.7;
  }
  .biography__img {
    margin-top: 20px;
  }
  .designers {
    margin: 150px 0 0;
    padding-left: 20px;
  }
  .designers__signature {
    transform: translate(calc(-50% - 31.5vw), calc(-50% - 3.5vh));
  }
  .testimonials {
    margin-left: 20;
  }
  .testimonials__cta {
    flex-direction: column;
    gap: 22px;
  }
  .testimonials__signature {
    transform: calc(-50% - 29.5vw), calc(-50% - 19.5vh);
  }
  .testimonials__cta-image {
    width: 91%;
  }
  .testimonials__caption {
    flex-wrap: wrap;
    margin-left: 20px;
    gap: 30px;
  }
  .strengths {
    margin-left: 20px;
  }
  .strengths__signature {
    transform: translate(calc(-50% - 31.5vw), calc(-50% - 20.5vh));
  }
  .strengths__content-list {
    line-height: 1.2;
  }
  .strengths__content-card-text {
    gap: 22px;
  }
  .footer__product {
    margin-left: 62%;
  }
  .footer__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 385px) {
  h2 {
    font-size: 60px;
  }
  .biography__text h2 {
    font-size: 56px;
  }
  .biography__blockquote--alt {
    font-size: 24px;
  }
  .biography__signature {
    top: -5%;
  }
  .navigation__list {
    width: 110%;
  }
}/*# sourceMappingURL=style.css.map */