@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Playfair+Display:wght@400..900&family=Roboto:wght@100..900&display=swap');
@import 'vars';
@import 'mixins';
@import 'reset';
@import 'fonts';
@import 'modal';
@import 'sizes';
@import 'header';
@import 'hero';
@import 'biography';
@import 'designers';
@import 'testimonials';
@import 'strong';
@import 'footer';
@import 'form';
@import 'tablet';
@import 'mobile';

html {
    scroll-behavior: smooth;
}