.testimonials-img {
  display: flex;
  grid-row: span 2;
  align-items: center;
  gap: 25px;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 95px;
  margin-left: 65px;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.testimonials-signature {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  left: 25px;
  position: relative;
}

.testimonials {
  display: grid;
  max-width: 1165px;
  margin: 150px auto 0; 
  grid-template-columns: 50% 1fr 45%;
}

.testimonials-cta {
  grid-column: 3;      
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 41px;
  gap: 41px;
}

.testimonials-blockquote {
  max-width: 216px;
}
