.testimonials-img {
  display: flex;
  align-items: center;
  gap: 30px;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

